<h1>Корзина</h1>

<div id="cart">
{{#if courses}}
    <table class="table text-center">
        <thead>
            <tr>
                <th>Название</th>
                <th>Колличество</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                        <a href="/courses/{{id}}">{{title}}</a>
                    </td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-primary btn-small remove-course" data-id={{id}}>Удалить</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <p class="text-right total">Price: <span class="price">{{price}}</span></p>

    <form action="/orders" method="POST" class="order-form text-right">
        <button type="submit" class="btn btn-primary">Оформить заказ</button>
    </form>

{{else}}
    <p>Вы еще ничего не добавили в корзину...</p>
{{/if}}
</div>