<h1>Корзина</h1>

<div id="cart">
{{#if courses}}
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Колличество</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <td>
                        <a href="/courses/{{id}}">{{title}}</a>
                    </td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-primary btn-small remove-course" data-id={{id}}>Удалить</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <p class="total">Price: <span>{{price}}</span></p>
{{else}}
    <p>Вы еще ничего не добавили в корзину...</p>
{{/if}}
</div>