<div class="card">
    <div class="card-header">
        {{course.title}}
    </div>
    <div class="card-body">
        <img class="card-img-top card-img-custom" alt="{{course.title}}" src="{{course.img}}">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.price}}</p>
    </div>
</div> 