<h1>Редактировать курс {{course.title}}</h1>

<form action="/courses/edit" method="POST">
  <div class="form-group">
    <label for="nameCourse">Название курса</label>
    <input 
        type="text" 
        name="title" 
        class="form-control" 
        id="nameCourse" 
        value="{{course.title}}" required>
  </div>
  <div class="form-group">
    <label for="priceCourse">Цена курса</label>
    <input 
        type="number" 
        name="price" 
        min="1" 
        class="form-control" 
        id="priceCourse" 
        value="{{course.price}}" required>
  </div>
  <div class="form-group">
    <label for="imgCourse">URL изображения</label>
    <input 
        type="text" 
        name="img" 
        class="form-control" 
        id="imgCourse" 
        value="{{course.img}}" required>
  </div>
  <input name="id" type="hidden" value={{course.id}}>
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button type="submit" class="btn btn-primary mb-3">Сохранить</button>
</form>

<form action="/courses/remove" method="post">
  <input type="hidden" name="id" value={{course.id}}>
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button type="submit" class="btn btn-danger">Удалить курс</button>
</form>